<div class="d-flex justify-content-center align-items-center p-5 my-20 mx-20 h-auto vh-auto">
  <div class="card w-100 h-100">
    <div class="card-body p-5">
      <div class="card-title">
        <div class="d-flex flex-col">
          <div class="w-50">
            <h3>Edit</h3>
          </div>
          <div class="w-50 text-end">
            <%= link_to "Back to list", admin_users_path, class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
      <hr>
      <%= render "layouts/messages" %>
      <%= form_with url: admin_user_path(@user.id), method: :put do |f| %>
        <%= f.label "First Name *", class: "form-label" %>
        <%= f.text_field :fname, required: true, class: "form-control mb-3", value: @user.fname %>
        <%= f.label "Last Name *", class: "form-label" %>
        <%= f.text_field :lname, required: true, class: "form-control mb-3", value: @user.lname %>
        <%= f.label "Email *", class: "form-label" %>
        <%= f.email_field :email, required: true, class: "form-control mb-3", value: @user.email %>
        <%= f.label "Age", class: "form-label" %>
        <%= f.number_field :age, class: "form-control mb-3", value: @user.age %>
        <%= f.label "Gender", class: "form-label mb-3" %>
        <%= f.select :gender, options_for_select([["Male"], ["Female"]], @user.gender), {}, class: "form-select mb-4" %>
        <%= f.label "Role", class: "form-label" %>
        <%= f.select :role_id, Role.all.collect { |r| [r.name.capitalize, r.id, @user.role_id] }, {}, class: "form-select mb-4" %>
        <div class="text-end mt-4">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
