<div class="d-flex justify-content-center align-items-center my-auto h-100 vh-100">
  <div class="card mx-auto">
    <div class="card-body m-auto p-5">
      <% if notice %>
        <div class="mx-auto">
          <div class="alert alert-info w-100 text-center" style="top: -120px;">
            <%= notice %>
          </div>
        </div>
      <% end %>
      <div class="mx-auto">
        <div class="text-center h4">Sign In</div>
      </div>
      <%= form_with url: "/admin/login", method: :post do |f| %>
        <%= f.label "Email" %>
        <%= f.text_field :email, class: "form-control mt-2" %>
        <%= f.label "Pasword", class: "mt-2" %>
        <%= f.text_field :password, class: "form-control mt-2" %>
        <div class="flex justify-content-center align-items-center mx-auto w-full my-2" style="height: 20px;">
          <% if alert %>
            <p class="text-center text-danger"><%= alert %></p>
          <% end %>
        </div>
        <%= f.submit "Sign In", class: "btn btn-primary btn-md w-100 mt-1" %>
      <% end %>
    </div>
  </div>
</div>