<!DOCTYPE html>
<html>
  <head>
    <title>Rails 7 with Bootstrap 5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="flex my-auto w-100 vh-100 h-100">
      <% if current_user %>
       <%= render "layouts/header" %>
      <% end  %>
      <%= yield %>
    </div>
  </body>
</html>
